{% extends 'base.html' %}
{% block title %}Criar Pessoa{% endblock %}
{% block conteudo %}

<h2 class="center">Cadastrar Nova Pessoa</h2>

<form method="POST" action="{% url 'criar_pessoa' %}" style="margin-top: 30px;">
  {% csrf_token %}

  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" placeholder="Digite seu email" required>

  <label for="senha">Senha:</label>
  <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>

  <button type="submit" class="btn">Salvar</button>
  <a href="{% url 'listar_pessoas' %}" class="btn">Cancelar</a>
</form>

{% endblock %}
