/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:rgb(223, 10, 10);
  color: #333;
  padding: 20px;
}

/* Cabeçalho */
header {
  background-color: #0077cc;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Container principal */
main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(9, 255, 111, 0.1);
}

/* Botão */
button {
  background-color: #0077cc;
  color: white;
  padding: 10px 20px;
  border: non
